absl-py==1.3.0
accelerate==0.3.0
astor==0.8.1
beautifulsoup4==4.11.1
bleach==1.5.0
blessed==1.19.1
blessings @ file:///tmp/build/80754af9/blessings_1614076444765/work
boto3==1.20.13
botocore==1.23.13
brotlipy==0.7.0
cached-property @ file:///tmp/build/80754af9/cached-property_1600785575025/work
cachetools==5.2.0
certifi @ file:///croot/certifi_1665076670883/work/certifi
cffi @ file:///tmp/abs_98z5h56wf8/croots/recipe/cffi_1659598650955/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click @ file:///tmp/build/80754af9/click_1646056591685/work
cryptography @ file:///croot/cryptography_1665612644927/work
cycler==0.10.0
Cython==0.29.26
dataclasses==0.6
dbrecord==0.2.1
decorator==5.0.9
fastHan==1.7
FastNLP==0.7.0
filelock @ file:///opt/conda/conda-bld/filelock_1647002191454/work
fire==0.4.0
future==0.18.2
gast==0.2.2
gdown==4.5.3
gensim==3.8.3
gitdb==4.0.7
GitPython==3.1.18
google-auth==2.14.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gpustat @ file:///tmp/build/80754af9/gpustat_1621432778913/work
grpcio==1.50.0
h5py @ file:///home/conda/feedstock_root/build_artifacts/h5py_1604753641401/work
html5lib==0.9999999
huggingface-hub @ file:///croot/huggingface_hub_1667490244076/work
idna @ file:///croot/idna_1666125576474/work
imageio @ file:///tmp/abs_cd920173-f360-47c5-97b0-bf4d1076d5d4dvic0oys/croots/recipe/imageio_1658785036907/work
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1648562407465/work
install==1.3.4
jieba==0.42.1
jmespath==0.10.0
joblib @ file:///croot/joblib_1666298844297/work
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lumo==0.1.6
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.4.2
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626179032232/work
mkl-service==2.4.0
nlg-eval @ git+https://github.com/Maluuba/nlg-eval.git@7f7993035a2f4729a15d20040fd904933ea58767
nltk==3.6.6
numpy @ file:///opt/conda/conda-bld/numpy_and_numpy_base_1653915516269/work
nvidia-ml-py==11.495.46
nvidia-ml-py3 @ file:///tmp/build/80754af9/nvidia-ml_1621428042568/work
oauthlib==3.2.2
opencv-python==4.6.0.66
opt-einsum==3.3.0
overrides==3.1.0
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==1.3.0
Pillow==9.2.0
prettytable==3.0.0
protobuf==3.20.1
psutil @ file:///opt/conda/conda-bld/psutil_1656431268089/work
pyaml==20.4.0
pyarrow==6.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyclustering==0.10.1.2
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing @ file:///opt/conda/conda-bld/pyparsing_1661452539315/work
PySocks @ file:///tmp/build/80754af9/pysocks_1594394576006/work
python-dateutil==2.8.1
pytz==2021.1
PyYAML==6.0
regex @ file:///tmp/abs_41f5bce5-0a2e-45aa-b231-1fd2fbd57753gfpe6sjm/croots/recipe/regex_1658257178822/work
requests @ file:///opt/conda/conda-bld/requests_1657734628632/work
requests-oauthlib==1.3.1
rsa==4.9
s3transfer==0.5.0
sacremoses @ file:///tmp/build/80754af9/sacremoses_1633107328213/work
scikit-learn==0.21.0
scipy==1.6.1
seaborn==0.12.1
six @ file:///tmp/build/80754af9/six_1644875935023/work
smart-open==5.2.1
smmap==4.0.0
soupsieve==2.3.2.post1
tensorboard==1.15.0
tensorboard-data-server==0.6.1
tensorboard-logger==0.1.0
tensorboard-plugin-wit==1.8.1
tensorflow-cpu==1.15.0
tensorflow-estimator==1.15.1
tensorflow-tensorboard==0.1.5
termcolor==1.1.0
Theano==1.0.5
thexp==1.5.1.1
threadpoolctl==3.0.0
tokenizers==0.10.3
torch==1.7.1+cu110
torchvision==0.8.0
tqdm @ file:///opt/conda/conda-bld/tqdm_1664392687731/work
transformers==4.4.2
typing_extensions @ file:///tmp/abs_ben9emwtky/croots/recipe/typing_extensions_1659638822008/work
urllib3 @ file:///croot/urllib3_1666298941550/work
wcwidth==0.2.5
Werkzeug==2.2.2
wrapt==1.14.1
xdg==5.1.1
xlrd==2.0.1
xlutils==2.0.0
xlwt==1.3.0
zipp @ file:///opt/conda/conda-bld/zipp_1652341764480/work
